$bg-primary:                        #000;
$bg-secondary:                      #fff;
$bg-terciary:                       #111;
$bg-main:                           #00f;
$text-primary:                      #fff;
$text-secondary:                    #000;

$alert-danger: #c90f0f;