@use '../util' as u;

.form__container {
    width: 100%;
    min-height: 100vh;
    display: flex;

    .form__block {
        width: 50%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        position: relative;

        .profile__image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100%;
            object-fit: cover;
        }

        &--image {
            background-color: u.$bg-main;
            background-size: cover;
            background-position: center center;
            background-blend-mode: hard-light;

            &.login {
                background-image: url('../../assets/img/bg.jpg');
            }

            &.register {
                background-image: url('../../assets/img/bg2.jpg');
            }
            
        }

        .form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            .form__icon {
                color: u.$bg-main;
                font-size: 8rem;
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 3rem;
            }
            
            .form__group {
                margin-bottom: 3rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .form__label {
                    color: u.$text-primary;
                    font-size: 1.3rem;
                    text-transform: capitalize;
                    position: relative;
                    transform: translateX(40px);
                    color: u.$bg-main;
                    pointer-events: none;
                }

                .form__control {
                    padding: 10px 50px;
                    font-size: 1rem;
                    height: 60px;
                    width: 100%;
                    outline: none;
                    border: 1px solid u.$bg-main;
                    background-color: u.$bg-terciary;
                    color: u.$text-primary;
                    border-radius: 10px;
                }
            }

            .form__text {
                color: u.$text-primary;
                margin-bottom: 2rem;
                display: flex;
                gap: 1rem;

                .form__link {
                    color: u.$bg-main;
                    text-transform: capitalize;
                }
            }
            
        }
    }
}

@media screen and (max-width: 900px) {
    .form__container {
        position: relative;

        .form__block {
            position: absolute;

            &:nth-child(1) {
                top: 0;
                left: 0;
                width: 100%;
                min-height: 100vh;
            }

            &:nth-child(2) {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                min-height: 100vh;
            }

            .form {
                background-color: u.$bg-primary;
                padding: 2rem;
                width: 600px;
                border-radius: 20px;
            }
        }
    }
}